.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    width: 100vw;
    z-index: 2;
    transition: .5s;
    background-color: $base-color;
    & * {
        color: #fff;
    }
    &__logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
        @include phone {
            left: 47%;
        }
        @include phoneS{
            left: 50%
        }
    }
    &__list{
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        width: 100%;
        @include tablet {
            display: none;
        }
    }
    &__listItem{
        font-size: map-get($font-sizes, "medium" );
        margin-bottom: 15px;
        cursor: pointer;
        @include phone {
            font-size: map-get($font-sizes, "small" );
        }
        &:nth-child(3){
            margin-left: 270px;
            @include tablet {
                margin-left: 0;
            }
        }
    }
}
.logo{
    &__name{
        font-size: 33px;
        padding: 15px 40px;
        outline: 1px solid #fff;
    }
    &__img{
        position: absolute !important;
        top: -70px;
        right: 0;
        transform: translateX(calc(100% - 30px));
        @include phoneS {
            display: none !important;
        }
    }
}