* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Nixie One', sans-serif;
  color: #000;
  outline: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  font-family: 'Nixie One', sans-serif;
}

footer {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  background-color: #FBBBCD;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #FBBBCD;
}

.header * {
  color: #fff;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 599px) {
  .header__logo {
    left: 47%;
  }
}

@media (max-width: 320px) {
  .header__logo {
    left: 50%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1023px) {
  .header__list {
    display: none;
  }
}

.header__listItem {
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .header__listItem {
    font-size: 18px;
  }
}

.header__listItem:nth-child(3) {
  margin-left: 270px;
}

@media (max-width: 1023px) {
  .header__listItem:nth-child(3) {
    margin-left: 0;
  }
}

.logo__name {
  font-size: 33px;
  padding: 15px 40px;
  outline: 1px solid #fff;
}

.logo__img {
  position: absolute !important;
  top: -70px;
  right: 0;
  -webkit-transform: translateX(calc(100% - 30px));
          transform: translateX(calc(100% - 30px));
}

@media (max-width: 320px) {
  .logo__img {
    display: none !important;
  }
}

.home {
  height: 130vh;
  width: 100%;
}

@media (max-width: 1399px) {
  .home {
    height: 100vh;
  }
}

@media (max-width: 599px) {
  .home {
    height: 150vh;
  }
}

@media (max-height: 499px) {
  .home {
    height: 230vh;
  }
}

.home__mainBackground {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .home__mainBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 599px) {
  .home__mainBackground {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-height: 499px) {
  .home__mainBackground {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home__introductionBox {
  width: 400px;
}

@media (max-width: 599px) {
  .home__introductionBox {
    padding: 50px;
    margin-top: 30px;
  }
}

@media (max-height: 499px) {
  .home__introductionBox {
    padding: 20px;
  }
}

.home__greeting {
  font-size: 65px;
}

@media (max-width: 599px) {
  .home__greeting {
    font-size: 55px;
  }
}

@media (max-height: 499px) {
  .home__greeting {
    font-size: 55px;
  }
}

.home__intro {
  font-size: 35px;
  margin-top: 20px;
}

@media (max-width: 599px) {
  .home__intro {
    font-size: 25px;
  }
}

.postsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #f5f5dc;
  min-height: 100vh;
}

.postsSection__introduction {
  width: 40%;
  border-bottom: 2px solid black;
}

@media (max-width: 599px) {
  .postsSection__introduction {
    width: 90%;
    margin: 0 auto;
  }
}

.postsSection__title {
  text-align: left;
  margin: 70px 0 40px 50px;
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
  font-size: 35px;
}

@media (max-width: 599px) {
  .postsSection__title {
    margin-left: 5px;
    padding: 0 5px;
  }
}

.postsSection__quote {
  font-size: 18px;
  width: 300px;
  text-align: left;
  margin: 0 0 50px 50px;
}

@media (max-width: 599px) {
  .postsSection__quote {
    margin-left: 5px;
    padding: 0 5px;
  }
}

.postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post {
  width: 450px;
  min-height: 650px;
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599px) {
  .post {
    width: 80%;
    min-height: 550px;
  }
}

@media (max-width: 320px) {
  .post {
    height: 500px;
  }
}

.post__title {
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post__date {
  margin-bottom: 20px;
  font-size: 12px;
  text-shadow: 1px 1px black;
}

.post__bgContainer {
  width: 100%;
  height: 550px;
}

@media (max-width: 599px) {
  .post__bgContainer {
    height: 450px;
  }
}

@media (max-width: 320px) {
  .post__bgContainer {
    height: 400px;
  }
}

.post__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selfDescription {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbbbcd;
  background: -webkit-gradient(linear, left bottom, left top, from(#fbbbcd), color-stop(77%, #bfc8bc));
  background: linear-gradient(0deg, #fbbbcd 0%, #bfc8bc 77%);
  padding: 5%;
}

@media (max-width: 320px) {
  .selfDescription {
    height: 55vh;
  }
}

@media (max-height: 499px) {
  .selfDescription {
    height: 60vh;
  }
}

.selfDescription * {
  color: #555;
}

.selfDescription__main {
  font-size: 30px;
  margin-bottom: 20px;
}

@media (max-width: 599px) {
  .selfDescription__main {
    font-size: 25px;
  }
}

@media (max-height: 499px) {
  .selfDescription__main {
    font-size: 25px;
  }
}

.selfDescription__slogan {
  font-size: 65px;
}

@media (max-width: 1023px) {
  .selfDescription__slogan {
    font-size: 55px;
  }
}

@media (max-width: 599px) {
  .selfDescription__slogan {
    font-size: 25px;
  }
}

@media (max-height: 499px) {
  .selfDescription__slogan {
    font-size: 30px;
  }
}

.postWrapper {
  min-height: 100vh;
}

.postWrapper__mainTitle {
  margin: 100px 50px;
  font-size: 65px;
}

@media (max-width: 599px) {
  .postWrapper__mainTitle {
    margin: 50px 20px 20px;
    font-size: 45px;
  }
}

@media (max-width: 1023px) {
  .postWrapper__mainTitle {
    margin: 100px 20px 50px;
  }
}

.postWrapper__heading {
  margin: 80px 10% 30px;
  font-size: 35px;
}

@media (max-width: 599px) {
  .postWrapper__heading {
    font-size: 30px;
  }
}

.postWrapper__paragraph {
  width: 80%;
  margin: 10px auto;
  padding: 0 70px;
  font-size: 18px;
  line-height: 35px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

@media (max-width: 599px) {
  .postWrapper__paragraph {
    padding: 0 20px;
  }
}

@media (max-width: 1023px) {
  .postWrapper__paragraph {
    padding: 0 40px;
  }
}

.imagesSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.imagesSection__img {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 50px;
}

@media (max-width: 1023px) {
  .imagesSection__img {
    width: 80%;
  }
}
/*# sourceMappingURL=main.css.map */