* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Nixie One', sans-serif;
  color: #000;
  outline: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button {
  font-family: 'Nixie One', sans-serif;
}

footer {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  background-color: #FBBBCD;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  z-index: 2;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #FBBBCD;
}

.header * {
  color: #fff;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 599px) {
  .header__logo {
    left: 47%;
  }
}

@media (max-width: 320px) {
  .header__logo {
    left: 50%;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1023px) {
  .header__list {
    display: none;
  }
}

.header__listItem {
  font-size: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .header__listItem {
    font-size: 18px;
  }
}

.header__listItem:nth-child(3) {
  margin-left: 270px;
}

@media (max-width: 1023px) {
  .header__listItem:nth-child(3) {
    margin-left: 0;
  }
}

.logo__name {
  font-size: 33px;
  padding: 15px 40px;
  outline: 1px solid #fff;
}

.logo__img {
  position: absolute !important;
  top: -70px;
  right: 0;
  -webkit-transform: translateX(calc(100% - 30px));
          transform: translateX(calc(100% - 30px));
}

@media (max-width: 320px) {
  .logo__img {
    display: none !important;
  }
}

.home {
  height: 130vh;
  width: 100%;
}

.home__mainBackground {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__introductionBox {
  width: 400px;
}

.home__greeting {
  font-size: 65px;
}

.home__intro {
  font-size: 35px;
  margin-top: 20px;
}

.postsSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #f5f5dc;
  min-height: 100vh;
}

.postsSection__introduction {
  width: 40%;
  border-bottom: 2px solid black;
}

.postsSection__title {
  text-align: left;
  margin: 70px 0 40px 50px;
  -ms-flex-item-align: start !important;
      align-self: flex-start !important;
  font-size: 35px;
}

.postsSection__quote {
  font-size: 18px;
  width: 300px;
  text-align: left;
  margin: 0 0 50px 50px;
}

.postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.post {
  width: 450px;
  min-height: 650px;
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post__title {
  margin-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.post__date {
  margin-bottom: 20px;
  font-size: 12px;
  text-shadow: 1px 1px black;
}

.post__bgContainer {
  width: 100%;
  height: 550px;
}

.post__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.selfDescription {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fbbbcd;
  background: -webkit-gradient(linear, left bottom, left top, from(#fbbbcd), color-stop(77%, #bfc8bc));
  background: linear-gradient(0deg, #fbbbcd 0%, #bfc8bc 77%);
  padding: 5%;
}

.selfDescription * {
  color: #fff;
  text-shadow: 1px 1px #343434;
}

.selfDescription__main {
  font-size: 30px;
  margin-bottom: 20px;
}

.selfDescription__slogan {
  font-size: 65px;
}

.imagesSection {
  width: 600px;
}

.postWrapper {
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */