.home{
    height: 130vh;
    width: 100%;
    &__mainBackground{
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    &__introductionBox{
        width: 400px;
    }
    &__greeting{
        font-size: map-get($font-sizes, "extra-large" );
    }
    &__intro{
        font-size: map-get($font-sizes, "large" );
        margin-top: 20px;
    }
}