.postsSection{
    display: flex;
    flex-direction: column;
    align-items: baseline ;
    min-height: 100vh;
    &__introduction{
        width: 40%;
        border-bottom: 2px solid black;
        @include phone {
            width: 90%;
            margin: 0 auto;
        }
    }
    &__title{
        text-align: left;
        margin: 70px 0 40px 50px;
        align-self: flex-start !important;
        font-size: map-get($font-sizes, "large");
        @include phone {
            margin-left: 5px;
            padding: 0 5px;
        }
    }
    &__quote{
        font-size: map-get($font-sizes, "small" );
        width: 300px;
        text-align: left;
        margin: 0 0 50px 50px;
        @include phone {
            margin-left: 5px;
            padding: 0 5px;
        }
    }
}
.postsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.post{
    width: 450px;
    min-height: 650px;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include phone{
        width: 80%;
        min-height: 550px;
    }
    @include phoneS{
        height: 500px;
    }
    &__title{
        margin-bottom: 10px;
        font-size: map-get($font-sizes, "medium" );
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    &__date{
        margin-bottom: 20px;
        font-size: map-get($font-sizes, "extra-small" );
        text-shadow: 1px 1px black;
    }
    &__bgContainer{
        width: 100%;
        height: 550px;
        @include phone{
            height: 450px;
        }
        @include phoneS{
            height: 400px;
        }
    }
    &__background{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
}