@import "./variables";
@import "./mixins";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Nixie One', sans-serif;
    color: #000;
    outline: none;
  }
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  html{
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  button{
    font-family: 'Nixie One', sans-serif;
  }
  footer{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background-color: $base-color;
    // #809EA7
    color: #fff;
  }