$base-color: #FBBBCD;
$background-color: #f5f5dc;
// #F0A9BD
// #C1798C
$font-sizes: (
  "extra-large": 65px,
  "medium-large": 55px,
  "large": 35px,
  "extra-medium": 30px,
  "medium": 25px,
  "small": 18px,
  "extra-small": 12px,
  );

@mixin phoneS {
  @media (max-width: 320px) { @content; }
}
@mixin phone {
  @media (max-width: 599px) { @content; }
}
@mixin phone-landscape {
  @media (max-height: 499px) { @content; }
}
@mixin tablet {
  @media (max-width: 1023px) { @content; }
}
@mixin laptop {
  @media (max-width: 1399px) { @content; }
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-family: 'Nixie One', sans-serif;
    color: #000;
    outline: none;
  }
  *,
  *::after,
  *::before{
    box-sizing: inherit;
  }
  html{
    box-sizing: border-box;
  }
  body{
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  button{
    font-family: 'Nixie One', sans-serif;
  }
  footer{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    background-color: $base-color;
    color: #fff;
  }